@import "../../../variables.scss";

.navbar-brand {
  width: 205px;
  height: auto;

}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.position-fixed{
  position: sticky;
  position: -webkit-sticky; 
  top: 0;
  z-index: 1000; 
}

.toolbarNormal {
  height: 90px;
  margin: 0 !important;
  margin-bottom: 0;
  width: auto !important;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
}

@media screen and (max-width: 600px) {
  .toolbarNormal {
    position: fixed;
  }
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1;
}

@keyframes shakeAnim {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}

@keyframes shake {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}

@keyframes waggle {
  0% {
    transform: none;
  }
  25% {
    transform: rotateZ(0) scale(1.2);
  }

  50% {
    transform: rotateZ(0) scale(1);
  }
  75% {
    transform: none;
  }
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(0, -4em);
  }
}

@keyframes spin {
  50% {
    transform: rotateZ(-20deg);
    animation-timing-function: ease;
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes fade {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}


.mat-icon-button i, .mat-icon-button .mat-icon {
  line-height: 24px;
}



.btnNavMenu .row> a {
  text-decoration: none;
}


/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  // background: $main-color;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}


.soc-pos{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 16px;
}




.middle381 {

  width: 100%;
  text-align: center;
  // padding-bottom: 10px;
}
//Facebook color
#social-fb {
  color: #3b5999 !important;
}
#social-fb::before {
  content: "";
  background: #3b5999 !important;
}

//Twitter color
#social-tw {
  color: #55acee !important;
}
#social-tw::before {
  content: "";
  background: #55acee !important;
}

//Linkedin color
#social-ln {
  color: #0077b5 !important;
}
#social-ln::before {
  content: "";
  background: #0077b5 !important;
}

//Instagram color
#social-ig {
  color: #e95950 !important;
}
#social-ig::before {
  content: "";
  background: #e95950 !important;
}

//Youtube color
#social-yt {
  color: #c4302b !important;
}
#social-yt::before {
  content: "";
  background: #c4302b !important;
}

.btn381 {
  display: inline-block;
  // width: 90px;
  // height: 90px;
  width: 31px;
  height: 31px;
  // background: #f1f1f1;
  margin: 10px;
  // border-radius: 30%;
  border-radius: 50%;

  // box-shadow: 0 5px 15px -5px #00000070;
  color: $main-color;
  overflow: hidden;
  position: relative;
}
.btn381 i {
  // line-height: 90px;
  // font-size: 26px;
  padding-left: 8px;
  font-size: 15px;
  line-height: 21px;
  transition: 0.2s linear;
}
.btn381:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn381::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  // background: $main-color;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn381:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

.menuMaterial{
  vertical-align: sub;

}