.general{
    height: 250px;
    
}
.sectionUno{
    background-color: #00C851; 
}
.sectionDos{
    background-color: #aa66cc;
}
.sectionTres{
    background-color: #3F729B; 
}
.sectionCuatro{
    background-color: #00C851;
}
.sectionCinco{
    background-color: #aa66cc; 
}
.sectionSeis{
    background-color: #1C2331;
}
