<app-contenedor [showMenu]="showMenu" >
    <div id="wrap" style="background: inherit;">
        <div id="main" class="clear-top">
            <section #slider>
                <div class="general sectionUno">

                </div>
            </section>

             <section #text >
                <div class="general sectionDos">

                </div>
            </section>

            <section #news >
                <div class="general sectionSeis">

                </div>
            </section>
            
            <section #players>
                <div class="general sectionTres">

                </div>
            </section>
            <section #contacto >
                <div class="general sectionCuatro">

                </div>
            </section>

            <section #partners>
                <div class="general sectionCinco">

                </div>
            </section>


        </div>
    </div>
</app-contenedor>